@use "./global-style" as *;


.gray{
    color:#D0D6F9 ;
    letter-spacing: .15rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .bg{
        position: absolute;
        top: 0;
        z-index: -99;
    }
    .hero{
        // z-index: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
        font-family: 'Barlow Condensed';
        .planet-name{
            font-size: 3.5rem;
            font-family: Bellefair ;
        }
        .motivation{
            color: #D0D6F9;
            // background-color: #353952;
            padding: 0 3.7rem;
        }
        .planets{
            display: flex;
            justify-content: center;
            gap: 1rem;
            li{
                position: relative;
                z-index: 0;
                &:hover{
                    &::after{
                        content: '';
                        position: absolute;
                        width: 80%;
                        left: 10%;
                        bottom: -10%;
                        border: 1px solid #fff;
                    }
                }
            }
            button{
                color: #D0D6F9;
            }
            
        }
        .info{
            margin-top: 1rem;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            z-index: -1;
            .number{
                font-size: 1.5rem;
                font-family: "Bellefair";
            }
            position: relative;
            &::before{
                content: '';
                position: absolute;
                border: #353952 .1px solid;
                width: 90%;
                left: 5%;
                top: -4px;
            }
        }
    }
    .top-main{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        img{
            width: 100%;
            height: 10rem;
            object-fit: contain;
        }
        .title{
            color: #fff;
            text-transform: uppercase;
            font-family: 'Barlow Condensed';
            letter-spacing: .2rem;
            span{
                padding-right: .5rem;
                color: gray;
            }
        }
    }
}


header{
    nav{
        z-index: 99;
        padding: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-btn{
            .close{
                top: 2rem;
                position: absolute;
                right: 1.5rem;
                display: none;
                width: 19.09px;
                height: 19.09px;
                z-index: 23;
            }
            .open{
                position: absolute;
                top: 2rem;
                right: 1.5rem;
                // display: none;
                width: 24px;
                height: 21px;
                z-index: 23;
            }
        }
        .show-links{
            transform: translateX(0%) !important;
            transition: transform .3s ease-in-out !important;
        }
        .links{
            z-index: 23;
            transform: translateX(100%);
            transition: transform .3s ease-in-out;
            position: fixed;
            background: hsl(0 0% 0% / .5);
            right: 0;
            top: 0;
            height: 100%;
            width: 70%;
            padding-top: 6rem;
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            li{
                font-size: 1.2rem;
                position: relative;
                &:hover{
                    &::after{
                        display: none;
                        content: '';
                        position: absolute;
                        width: 80%;
                        left: 10%;
                        bottom: -80%;
                        border: 2px solid rgba(225, 225, 225,.2);
                    }
                }
                span{
                    padding-right: .5rem;
                    font-weight: bold;
                }
                a{
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }
    }
}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}

@supports (backdrop-filter: blur(1rem)){
    .links{
        background: hsl(0 0% 100% / .1);
        backdrop-filter: blur(1rem);
    }
}

@media (min-width: 600px) {
    li{
        &:hover{
            &::after{
                display: block !important;
            }
        }
    }
    .motivation{
        // background-color: aqua;
        max-width: 90ch;
        margin: 0 auto;
    }
    header{
        nav{
            padding: 0 !important;
            .logo{
                margin-left: 2rem;
                margin-top: 1rem;
            }
        }
        .nav-btn{
            display: none !important;
        }
        .links{
            position: static !important;
            flex-direction: row !important;
            width: fit-content !important;
            transform: translateX(0) !important;
            padding: 2rem 1.9rem !important;
            a{
                padding: 0 .8rem;
            }
            span{
                display: none;
            }
        }
    }
}

@media (min-width: 900px){

    nav{
        margin-top: 2rem;
        .links{
            padding: 1.5rem 10rem 1.5rem 5rem !important;
            li{
                &:nth-of-type(2){
                    a{
                        position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 90%;
                            left: 5%;
                            bottom: -1.5rem;
                            border: 2px solid #fff;
                        }
                    }
                }
                display: flex !important;
                flex-direction: row !important;
                span{
                    display: inline !important;
                }
            }
        }
    }

    main{
        display: flex;
        flex-direction: row ;
        gap:3rem ;
        // background-color: #1e2341;
        justify-content: center;
        align-items: center;
    }
    .top-main{
        margin-right: 5rem;
        .title{
            margin-right: 7rem;
            margin-bottom: 3rem;
        }
        img{
            height: 20rem !important;
        }
    }
    .hero{
        text-align: left !important;
        margin-top: 4rem;
        // background-color: aqua;
        .info{
            display: flex ;
            flex-direction: row !important;
            gap: 3rem !important;
            .gray{
                font-size: .8rem !important;
                // background-color: aliceblue;
            }
            &::before{
                content: '';
                position: absolute;
                border: #353952 .1px solid;
                width: 90%;
                left: 0% !important;
                top: -4px;
            }
        }
        .planet-name{
            font-size: 5.5rem !important;
        }
        .planets{
            justify-content: flex-start !important;
            gap: 1.6rem !important;
        }
        .motivation{
            margin: 0 !important;
            padding: 0 0 2.1rem 0 !important;
            // background-color: azure;
            text-align: left !important;
            width: 50ch;
        }
    }
}