@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@0;1&family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@500;600;700&family=Manrope:wght@600;800&family=Poppins:ital,wght@0,500;0,600;1,500&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@0;1&family=Bellefair&family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@500;600;700&family=Manrope:wght@600;800&family=Poppins:ital,wght@0,500;0,600;1,500&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@0;1&family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@500;600;700&family=Manrope:wght@600;800&family=Poppins:ital,wght@0,500;0,600;1,500&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@0;1&family=Bellefair&family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@500;600;700&family=Manrope:wght@600;800&family=Poppins:ital,wght@0,500;0,600;1,500&family=Roboto:wght@100;300;400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  line-height: 1.6;
  font-size: 0.875rem;
  font-family: Barlow Condensed;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: hsl(0deg, 0%, 0%);
}

button {
  background-color: transparent;
  border: none;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

.image {
  z-index: -999;
}

header nav {
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .nav-btn .close {
  top: 2rem;
  position: absolute;
  right: 1.5rem;
  display: none;
  width: 19.09px;
  height: 19.09px;
  z-index: 23;
}
header nav .nav-btn .open {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  width: 24px;
  height: 21px;
  z-index: 23;
}
header nav .show-links {
  transform: translateX(0%) !important;
  transition: transform 0.3s ease-in-out !important;
}
header nav .links {
  z-index: 23;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  position: absolute;
  background: hsla(0deg, 0%, 0%, 0.5);
  right: 0;
  top: 0;
  height: 100%;
  width: 70%;
  padding-top: 6rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
header nav .links li {
  font-size: 1.2rem;
  position: relative;
}
header nav .links li:nth-of-type(1) a {
  position: relative;
}
header nav .links li:nth-of-type(1) a::after {
  content: "";
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: -1.5rem;
  border: 2px solid #fff;
}
header nav .links li:hover::after {
  display: none;
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: -80%;
  border: 2px solid rgba(225, 225, 225, 0.2);
}
header nav .links li span {
  padding-right: 0.5rem;
  font-weight: bold;
}
header nav .links li a {
  color: #fff;
  text-transform: uppercase;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

@supports (
  (-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))
) {
  .links {
    background: hsla(0deg, 0%, 100%, 0.1);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }
}
main {
  font-family: "Barlow Condensed";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .image2 {
  display: none;
}
main .image3 {
  display: none;
}
main img {
  position: absolute;
  top: 0;
  z-index: -99;
  height: 100%;
  width: 100%;
}
main .explore {
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #333;
  font-family: Bellefair;
  text-align: center;
  margin-top: 3rem;
  cursor: pointer;
  position: relative;
  transition: transform ease-in-out 1s;
}
main .explore:hover::after {
  content: "";
  transform: scale(1, 1);
  position: absolute;
  width: 160%;
  height: 160%;
  border-radius: 50%;
  background-color: rgba(225, 225, 225, 0.2);
  top: -30%;
  left: -30%;
  z-index: -1;
}
main .main-text {
  color: #fff;
  padding: 1rem;
}
main .main-text .title {
  text-align: center;
  font-size: 1.3rem;
  color: #d0d6f9;
  font-family: "Barlow Condensed";
}
main .main-text .heading {
  font-size: 5rem;
  text-align: center;
  font-family: Bellefair;
}
main .main-text .motivation {
  padding: 0 2.8rem;
  font-family: Barlow;
  color: #d0d6f9;
  text-align: center;
}

@media (min-width: 600px) {
  li:hover::after {
    display: block !important;
  }
  header nav {
    padding: 0 !important;
  }
  header nav .logo {
    margin-left: 2rem;
    margin-top: 1rem;
  }
  header .nav-btn {
    display: none !important;
  }
  header .links {
    position: static !important;
    flex-direction: row !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    transform: translateX(0) !important;
    padding: 2rem 1.9rem !important;
  }
  header .links a {
    padding: 0 0.8rem;
  }
  header .links span {
    display: none;
  }
  main {
    display: flex !important;
    flex-direction: row !important;
    margin-top: 6rem;
    justify-content: space-evenly;
  }
  main .main-text {
    display: flex !important;
    flex-direction: column;
  }
  main .main-text .title {
    text-align: left !important;
  }
  main .main-text .heading {
    text-align: left !important;
    font-size: 7rem;
  }
  main .main-text .motivation {
    text-align: left !important;
    padding: 0;
    width: 50ch;
  }
}
@media (min-width: 768px) {
  .image1 {
    display: none;
  }
  .image2 {
    display: block !important;
  }
  .image3 {
    display: none;
  }
}
@media (min-width: 900px) {
  nav {
    margin-top: 2rem;
  }
  nav .links {
    padding: 1.5rem 10rem 1.5rem 5rem !important;
  }
  nav .links li {
    display: flex !important;
    flex-direction: row !important;
  }
  nav .links li span {
    display: inline !important;
  }
}
@media (min-width: 1440px) {
  .image1 {
    display: none;
  }
  .image2 {
    display: none;
  }
  .image3 {
    display: block !important;
  }
} /*# sourceMappingURL=space.css.map */
