@use './global-style' as *;


.gray{
    color:#D0D6F9 ;
    letter-spacing: .15rem;
}
.bg{
    position: absolute;
    top: 0;
    z-index: -99;
    width: 100%;
}

main{
    margin-top: 2rem;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .hero{
        // margin-top: .5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #fff;
        font-family: 'Barlow Condensed';
        .role{
            font-family: 'Barlow Condensed';
            text-transform: uppercase;
            color: #fff;
            font-size: .7rem;
            letter-spacing: .1rem;
        }
        .member-name{
            font-size: 1.2rem;
            font-family:' Bellefair',  ;
            text-transform: uppercase;
            letter-spacing: .1rem;
            padding-bottom: .5rem;
            font-weight: 100;
        }
        .motivation{
            color: #D0D6F9;
            // background-color: #353952;
            padding: 0 3rem;
            max-width: 63ch;
        }
        
    }
    .top-main{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .img2{
            display: none;
        }
        .info{
            display: flex;
            gap: .8rem;
            padding: .5rem;
            margin-bottom: .8rem;
            li{
                button{
                    border: lighten(#D0D6F9, 100%) .5px solid;
                    border-radius: 50%;
                    aspect-ratio: 1;
                    width: 2rem;
                    color: #fff;
                    font-family: 'Bellefair';
                    &:hover{
                        background-color: #fff;
                        color: #333;
                    }
                }
            }
        }
        img{
            width: 100%;
            // height: 10rem;
            object-fit: cover;
        }
        .title{
            color: #fff;
            text-transform: uppercase;
            font-family: 'Barlow Condensed';
            letter-spacing: .1rem;
            span{
                padding-right: .5rem;
                color: gray;
                font-weight: 600;
                letter-spacing: .1rem;
            }
        }
    }
}



header{
    nav{
        z-index: 1;
        // background-color: rgb(185, 147, 149);
        padding: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-btn{
            // background-color: rgb(33, 51, 45);
            .close{
                top: 2rem;
                position: absolute;
                right: 1.5rem;
                display: none;
                width: 19.09px;
                height: 19.09px;
                z-index: 23;
            }
            .open{
                position: absolute;
                top: 2rem;
                right: 1.5rem;
                // display: none;
                width: 24px;
                height: 21px;
                z-index: 23;
            }
        }
        .show-links{
            transform: translateX(0%) !important;
            transition: transform .3s ease-in-out !important;
        }
        .links{
            z-index: 23;
            position: fixed;
            transform: translateX(100%);
            transition: transform .3s ease-in-out;
            background: hsl(0 0% 0% / .5);
            right: 0;
            top: 0;
            height: 100%;
            width: 70%;
            padding-top: 6rem;
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            li{
                font-size: 1.2rem;
                position: relative;
                &:hover{
                    &::after{
                        display: none;
                        content: '';
                        position: absolute;
                        width: 80%;
                        left: 10%;
                        bottom: -80%;
                        border: 2px solid rgba(225, 225, 225,.2);
                    }
                }
                span{
                    padding-right: .5rem;
                    font-weight: bold;
                }
                a{
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }
    }
}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}


@media (min-width: 768px) {
    .image1{
        display: none;
    }
    .image2{
        display: block !important;
    }
    .image3{
        display: none;
    }

    .member-name{
        font-size: 2rem !important;
        padding: .5rem;
    }
    button{
        width: 3rem !important;
        font-size: 1.1rem;
    }
    .title{
        align-self: flex-start;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
}


@supports (backdrop-filter: blur(1rem)){
    .links{
        background: hsl(0 0% 100% / .1);
        backdrop-filter: blur(1rem);
    }
}

@media (min-width: 600px) {
    li{
        &:hover{
            &::after{
                display: block !important;
            }
        }
    }
    .motivation{
        margin: 0 auto;
    }
    header{
        nav{
            padding: 0 !important;
            .logo{
                margin-left: 2rem;
                margin-top: 1rem;
            }
        }
        .nav-btn{
            display: none !important;
        }
        .links{
            position: static !important;
            flex-direction: row !important;
            width: fit-content !important;
            transform: translateX(0) !important;
            padding: 2rem 1.9rem !important;
            a{
                padding: 0 .8rem;
            }
            span{
                display: none;
            }
        }
    }
}


@media (min-width: 900px){
    .image1{
        display: none;
    }
    .image2{
        display: none;
    }
    .image3{
        display: block !important;
    }
    
    .info{
        flex-direction: column;
        gap: 1.4rem !important;
    }
    .hero{
        padding: 0 !important;
        margin-left: 12rem !important;
        // margin-top: 0 !important;
    }
    
    

    nav{
        margin-top: 2rem;
        .links{
            padding: 1.5rem 10rem 1.5rem 5rem !important;
            li{
                &:nth-of-type(4){
                    a{
                        position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 90%;
                            left: 5%;
                            bottom: -1.5rem;
                            border: 2px solid #fff;
                        }
                    }
                }
                display: flex !important;
                flex-direction: row !important;
                span{
                    display: inline !important;
                }
            }
        }
    }
}

@media (min-width: 1300px){
    .img1{
        display: none !important;
    }
    .img2{
        display: block !important;
        margin-bottom: 4rem;
    }
    main{
        display: flex !important;
        flex-direction: row-reverse !important;
        justify-content: left;
        gap: 10rem;
    }
    .top-main{
        margin-top: 3rem !important;
        position: relative;
        .title{
            position: absolute;
            top: -4rem;
            left: -46rem;
            font-size: 1.3rem;
        }
        .member-img{
            height: 100%;
            width: 100%;
            margin-bottom: 2rem !important;

        }
        .info{
            position: absolute;
            left: -45rem;
            bottom: 14.5rem;
        }
    }
    .hero{
        align-items: flex-start !important;
        margin-left: 6rem;
        margin-top: 10rem !important;
        text-align: left !important;
        .role{
            font-size: 1.3rem !important;
        }
        .member-name{
            font-size: 2.5rem !important;
            padding: .5rem 0 !important;
        }
        .motivation{
            padding:0 !important;
            max-width: 60ch;
            width: fit-content !important;
            margin: 0 !important;
        }
    }
}